html {
  background-color: #232323;
}
header {
  margin: 0;
  padding: 0;
  background-color: #1B6E76;
}
nav {
  text-align: right;
  margin-top: 15px;
  margin-right: 10px;
  padding-top: 1px;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 2px;
  color: #f2f2f2;
}
li {
  display: inline;
}
body {
  margin: auto;
  width:100;
}
h1 {
  text-align: center;
  font-size: 50px;
  letter-spacing: 2px;
  font-family: 'Dosis', sans-serif;
  font-weight: black;
  color: #f2f2f2;
}
h2 {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 20px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  opacity: 0.8;
  letter-spacing: 2px;
  color: #f2f2f2;
  background-color: #1B6E76;
}
section {
  background-color: #F8F8FF;
  align-content: center;
}
.ImageLogo {
  position: absolute;
  padding-top: 20px;
  padding-left: 20px;
  width: 150px;
  height: 150px;
}
.EnterEmail {
  margin-top: 0;
  padding-top: 40px;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #1B6E76;
}
.ImageGroup {
  text-align: center;
  padding-bottom: 10px
}
.ImageGroup1 {
  position: relative;
  width: 70%;
  top: 50px;
}
.ImageGroup2 {
  position: relative;
  width: 70%;
  top: 50px;
}
.Image1, .Image2, .Image3, .Image4 {
    width: 25%;
}
.form {
  text-align: center;
  padding-top: 20px;
}
.field {
  padding-bottom: 1px;
  border-radius: 3px;
  border: 2px;
  width: 400px;
  height: 28px;
}
.button {
  border-radius: 3px;
  border: 2px;
  width: 60px;
  height: 30px;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #f2f2f2;
  background-color: #1B6E76;
}
