html {
  background-color: #232323;
}
header {
  font-family: 'Dosis', sans-serif;
  background-color: #1B6E76;
  margin: 0;
  padding: 0;
}
li {
    display: inline;
}
body {
  width:100;
  margin: auto;
}
h1 {
  color: #f2f2f2;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 2px;
  font-size: 50px;
  text-align: center;
}
h2 {
  color: #f2f2f2;
  background-color: #1B6E76;
  margin-bottom: 0;
  font-weight: lighter;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 2px;
  opacity: 0.8;
  text-align: center;
  padding-bottom: 20px;
}
section {
  background-color: white;
}
nav {
  color: #f2f2f2;
  text-align: right;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 2px;
  margin-right: 10px;
  margin-top: 15px;
  padding-top: 1px;
}
.section {
  background-color: white;
  align-content: center;
}
.ImageLogo {
  padding-left: 20px;
  padding-top: 20px;
  position: absolute;
  width: 150px;
  height: 150px;
}
.ImageGroup {
  text-align: center;
  padding-bottom: 10px
}
.ImageGroup1 {
  width: 70%;
  top: 50px;
  position: relative;
}
.ImageGroup2 {
  width: 70%;
  top: 50px;
  position: relative;
}
.Image1, .Image2, .Image3, .Image4 {
    width: 25%;
}
.EnterEmail {
  margin-top: 0;
  padding-top: 20px;
  font-family: 'Dosis', sans-serif;
  color: #1B6E76;
}
.form {
  padding-top: 20px;
  text-align: center;
}
.field {
  border-radius: 3px;
  border: 2px;
  width: 400px;
  height: 30px;
  padding-bottom: 4px;
}
.button {
  border-radius: 3px;
  border: 2px;
  width: 60px;
  height: 35px;
  font-family: 'Dosis', sans-serif;
  color: white;
  background-color: #1B6E76;
}
